<a href="/parse" target="_blank">Получить данные с http://car-museum.ru/informers/</a>
<table width="100%">
	<tr>
		<td colspan="2" width="100%" align="right">
			<%= search_form_for @q, :url => '/pages/index', :html => {:method => :post}  do |f| %>
				<%= f.text_field :city_name_cont, :title => "Введите название города" %>	
				<%= f.submit "search" %>
			<% end %>		
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>

			<script type="text/javascript">
				ymaps.ready(init);

				function init () {
					ymaps.geocode("<%= @city.name %>", { results: 1 }).then(function (res) {
						var firstGeoObject = res.geoObjects.get(0);

						window.myMap = new ymaps.Map("map", {
							center: firstGeoObject.geometry.getCoordinates(),
							zoom: 12
						});								           
						myMap.controls.add('zoomControl');
						
						var myCollection = new ymaps.GeoObjectCollection();

						<% @stations.each_with_index  do |station, index| %>		
							ymaps.geocode("<%= station.address %>", {results: 1}).then(function (res) {
								firstGeoObject = res.geoObjects.get(0);		
								var properties = {
										balloonContent: '<b><%= station.name %></b>',
										hintContent: "<%= station.name %>",
										iconContent: <%= index %> + 1
									},
								myPlacemark = new ymaps.Placemark(firstGeoObject.geometry.getCoordinates(), properties, { balloonCloseButton: true });
								myCollection.add(myPlacemark);			
							});			
						<% end %>
						
						myMap.geoObjects.add(myCollection);	 	
						
					}, function (err) {
						// Если геокодирование не удалось,
						// сообщаем об ошибке
						alert(err.message);
					})
				}
			</script>
			<div id="map" style="width: 100%; height: 500px;"></div>		
		</td>
	</tr>
	<tr>
		<td width="50%" align="center">
			<% if !@stations.empty? %>
				<%  @stations.each do |station| %>
					<%= render 'station', :station => station %>				
				<% end %>
			<% else %>
				Нет результатов
			<% end %>		
		</td>
		<td width="50%" align="center">
			<% if (@price!=nil) %>
				<table>
					<tr>
						<td>АИ-95</td>
						<td><%= @price.price_95 %></td>
					</tr>
					<tr>
						<td>АИ-92</td>
						<td><%= @price.price_92 %></td>
					</tr>
					<tr>
						<td>АИ-80</td>
						<td><%= @price.price_80 %></td>
					</tr>
					<tr>
						<td>ДТ</td>
						<td><%= @price.price_dt %></td>
					</tr>				
				</table>	
			<% else %>
				Нет данных
			<% end %>				
		</td>
	</tr>
</table>



