<table width="100%" class="table">
	<% @cities.each_with_index  do |city, index| %>
		<% if ((index % 5) == 0) %>
			<tr>
				<td width="20%">
					<%= link_to city.name, city_path(city.id)   %>
				</td>								
		<% elsif ((index % 5) == 1) %>
				<td width="20%">
					<%= link_to city.name, city_path(city.id)   %>	
				</td>
		<% elsif ((index % 5) == 2) %>
				<td width="20%">
					<%= link_to city.name, city_path(city.id)   %>
				</td>	
		<% elsif ((index % 5) == 3) %>
				<td width="20%">
					<%= link_to city.name, city_path(city.id)   %>
				</td>					
		<% elsif ((index % 5) == 4) %>	
				<td width="20%">
					<%= link_to city.name, city_path(city.id)   %>
				</td>
			</tr>										
		<% end %>									
	<% end %>	
</table>
<div style="padding:20px;">
	<% regions = @region.neighbors %>
	<% for i in 0..10 %>
		<% if (regions[i] != nil && regions[i].id != @region.id) %>
			<% link_name = "АЗС в регионе " + regions[i].name %>
			<%= link_to link_name, region_path(regions[i].id) %> &nbsp;
		<% end %>
	<% end  %>
</div>